
menu "SDIODEV modules"

config SDIODEV
	tristate "SPRD SDIO DEV SUPPORT"	
	---help---
	  PLEASE INSMOD THIS MODULE BEFORE OTHER SDIO DEV MODULES

config SDIODEV_TEST
	bool "SDIO DEV TEST"
	default n
	depends on SDIODEV
	help
	  FOR RUN SDIODEV TEST CASE,DO NOT OPEN IT IN NORMAL MODE

config SP9630EA6MN_SDIODEV
	bool "SP9630-6 SDIO"
	default n
	help
	  FOR SP9630-6 SDIO

endmenu
