#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config HVGA_LCMSIZE_TEST
	bool "enable hvga configration"
	help
	"enable hvga configration"

source "arch/$SRCARCH/Kconfig"
