
config CPU_IDLE
	bool "CPU idle PM support"
	default ACPI
	help
	  CPU idle is a generic framework for supporting software-controlled
	  idle processor power management.  It includes modular cross-platform
	  governors that can be swapped during runtime.

	  If you're using an ACPI-enabled platform, you should say Y here.

config CPU_IDLE_GOV_LADDER
	bool
	depends on CPU_IDLE
	default y

config CPU_IDLE_GOV_MENU
	bool
	depends on CPU_IDLE && NO_HZ
	default y

config CPU_IDLE_SC8800S
	bool "CPUIdle support for Spreadtrum SC8800S CPUs"
	depends on CPU_IDLE && ARCH_SC8800S
	default y

config CPU_IDLE_SC8800G
	bool "CPUIdle support for Spreadtrum SC8800G CPUs"
	depends on CPU_IDLE && ARCH_SC8800G
	default y
