if ARCH_SC8810

config ARCH_SUPPORTS_BIG_ENDIAN
	bool
	default y

comment "SC8810 Board Type"
	depends on ARCH_SC8810


config MACH_SC8810OPENPHONE
	depends on ARCH_SC8810
	default n
	bool "OpenPhone Board"
	help
	  Support for the SC8810 based openphone
config MACH_SP8810
	depends on ARCH_SC8810
	default n
	bool "SP8810 Phone"
	help
	  Support for the SC8810 based phone
config MACH_SP8810G_BRCM
	depends on ARCH_SC8810
	default n
	bool "SP8810 Phone + BRCM4330"
	help
	  Support for the SC8810+BRCM4330 based phone
config MACH_SP8810W
	depends on ARCH_SC8810
	default n
	bool "SP8810W: 8810+7180 Phone"
	help
	  Support for the SC8810+7180 based phone
config MACH_SP6820A
	depends on ARCH_SC8810
	default n
	bool "SP8810 Phone"
	help
	  Support for the SC8810 based phone
config MACH_SP6820G_RTL
	depends on ARCH_SC8810
	default n
	bool "SP8810 Phone"
	help
	  Support for the SC8810 based phone
config SC8810_IDLE
	depends on ARCH_SC8810
	default n
	bool "Idle Support for SC8810"

config SC8800G_VIBRATOR
    depends on ARCH_SC8810
    select ANDROID_TIMED_OUTPUT
    default n
    bool "vibrator for SC8810"

config CACHE_L2X0_310
        bool "Enable the L2x0 310 outer cache controller"
	default y
	select OUTER_CACHE
        select OUTER_CACHE_SYNC
	help
          This option enables the L2x0 PrimeCell.

config LOW_RESOLUTION_CLKSRC
	depends on ARCH_SC8810
	default y
        bool "Using a low resolution timer(1ms)"
	help
          This option enables some low resolution timer workaround codes.

config SPRD_MEM_POOL
	depends on ARCH_SC8810
	default y
        bool "Using a memory pool to alloc thread stack and pgd table"
	help
          This option enables memmory pool for allocating thread stack and pgd table.

endif
