if ARCH_SC8800G

config ARCH_SUPPORTS_BIG_ENDIAN
	bool
	default y

comment "SC8800G Board Type"
	depends on ARCH_SC8800G

config MACH_G2PHONE
	depends on ARCH_SC8800G
	default y
	bool "G2 PHONE"
	help
	  Support for the SC8800G based G2 phone
config MACH_OPENPHONE
	depends on ARCH_SC8800G
	default n
	bool "OpenPhone Board"
	help
	  Support for the SC8800G based openphone

config SC8800G_IDLE
	depends on ARCH_SC8800G
	default n
	bool "Idle Support for SC8800G"

endif
