if ARCH_SC

menu "Spreadtrum SoC Type"

config  ARCH_SC8825
	bool "sc8825 series(tiger)"
	select CPU_V7
	select HAVE_SMP
	select ARM_GIC
	select HAVE_SCHED_CLOCK
	select LOCAL_TIMERS if SMP
	select VFP
	select VFPv3
	select NEON
	select GENERIC_TIME
	select CLKSRC_MMIO
	select ARCH_HAS_CPUFREQ
	select NEED_MACH_IO_H

config  ARCH_SCX35
	bool "sc8830 series(shark)"
	select CPU_V7
	select HAVE_SMP
	select ARM_GIC
	select HAVE_SCHED_CLOCK
	select LOCAL_TIMERS if SMP
	select VFP
	select VFPv3
	select NEON
	select GENERIC_TIME
	select CLKSRC_MMIO
	select ARCH_HAS_CPUFREQ
	select NEED_MACH_IO_H

config ARCH_SCX15
	bool "scx15 series(dolphin,depend on ARCH_SCX35)"
	select ARCH_SCX35
	help
	  Support for Spreadtrum scx15(dolphin) based systems.

endmenu


menu "Spreadtrum Board Type"

config MACH_SP8825EA
	bool "sp8825ea Phone Board"
	depends on ARCH_SC
	depends on ARCH_SC8825
	default y
	help
	  sp8825 EB board based on SC8825 serial.

config MACH_SP5735PAD
	bool "sp5735pad Pad Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SP5735PAD board based on SC8830 serial.

config MACH_SPX35EB
	bool "sp8830eb Phone Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SPX35EB board based on SC8830 serial.

config MACH_SPX35EA
	bool "sp8830ea Phone Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SPX35EA board based on SC8830 serial.

config MACH_SPX35EC
	bool "sp8830ec Phone Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SPX35EC board based on SC8830 serial.

config MACH_SPX35FPGA
	bool "sp8830 FPGA Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SPX35 fpga board based on SC8830 serial.

config MACH_SP7735EC
	bool "sp7735ec Phone Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	default n
	help
	  SP7735EC board based on SC8830 serial.


config MACH_SPX15FPGA
	bool "spx15 FPGA Board"
	depends on ARCH_SC
	depends on ARCH_SCX35
	depends on ARCH_SCX15
	default y
	help
	  SPX15 fpga board based on dolphin serial.



endmenu

config SPRD_ION_SIZE
        int "size for ion"
        range 1 64
        default 1
	depends on ION

config SPRD_ION_OVERLAY_SIZE
        int "size for ion overlay"
        range 1 64
        default 1
	depends on ION

config SC_VIBRATOR
        bool "vibrator for SC serials"
        select ANDROID_TIMED_OUTPUT
        default n

config FIX_V7TAGRAM_BUG
        bool "fix arm-v7 scu tag ram bug"
        default n
	depends on ARCH_SCX35

config SPRD_DCDC_DEBUG
	tristate "Enable dcdc debug module"
	default n
	help
	  This option select dcdc debug module.

config SPRD_SIMCTRL
	bool "Enable simctrl module"
	default n
	help
	  This option select simctrl module.

config SIPC_TD
	bool "SIPC instance of TD modem"
	select SIPC
	default n

config SIPC_WCDMA
	bool "SIPC instance of WCDMA modem"
	select SIPC
	default n

config SIPC_WCN
	bool "SIPC instance of Wireless Connection"
	select SIPC
	default n

config BUS_MONITOR
        bool "scxx35 AHB and DMC bus monitors"
        default n
	depends on ARCH_SCX35

config BUS_MONITOR_DEBUG
        bool "debug scxx35 AHB and DMC bus monitors"
        default n
	depends on BUS_MONITOR
endif
