if VIDEO_DCAM_SPRD
choice
	prompt "Camera resolution"
	default CAMERA_2M

config CAMERA_2M
	bool "2M pixels"

config CAMERA_3M
	bool "3M pixels"

endchoice

config SENSOR_DRIVER_FOR_ANDROID2
	tristate "android version"
	help
	  select - sensor driver is used to android2.2.2.
endif
