if VIDEO_DCAM_SPRD
choice
	prompt "Camera resolution"
	default CAMERA_5M

config CAMERA_2M
	bool "2M pixels"

config CAMERA_3M
	bool "3M pixels"

config CAMERA_5M
	bool "5M pixels"

config CAMERA_8M
	bool "8M pixels"

endchoice

choice
	prompt "Camera rotation"
	default CAMERA_NO_ROTATION

config CAMERA_ROTATION
	bool "sensor rotation"

config CAMERA_NO_ROTATION
	bool "sensor don't rotate"

endchoice

config SENSOR_DRIVER_FOR_ANDROID2
	tristate "android version"
	help
	  select - sensor driver is used to android2.2.2.
endif
