#
# innofidei cmmb driver configuration
#
#
menuconfig INNOCMMB
        tristate "Innofidei cmmb driver"
	help
	  Innofidei cmmb driver support spi/sdio mode transfer base on IF2xx.

if INNOCMMB
config INNOCMMB_DEBUG
	boolean "Debug support for Innofidei cmmb drivers"
	help
	  Say "yes" to enable debug messaging (like dev_dbg and pr_debug),
	  in innofidei cmmb drivers.

config INNOCMMB_PLAT_DEVKIT8000
        tristate "Devkit8000 board cmmb driver platform layer"
	help
	  If your system is omap2 devkit8000 , you can enable this module, it
          also depend on your hardware design, for example reset pin and spi 
          port you used.

endif
