menu "VBC"

source "sound/soc/sprd/dai/vbc/r1p0/Kconfig"
source "sound/soc/sprd/dai/vbc/r2p0/Kconfig"

config SND_SOC_SPRD_VBC_LR_INVERT
	bool "VBC Support L/R invert"
	help
	 say Y then the VBC will support invert the L/R channel.

config SND_SOC_FM_SAMPLE_RATE_SETTING
	bool "FM Sample Rate Setting in VBC"
	help
	  say Y then the VBC will set codec sample rate for FM  function.

endmenu
