if ARCH_SC8800S

config ARCH_SUPPORTS_BIG_ENDIAN
	bool
	default y

comment "SC8800S Board Type"
	depends on ARCH_SC8800S

config MACH_HISENSE
	depends on ARCH_SC8800S
	default n
	bool "Hisense Board"
	help
	  Support for the sc8800s based hisense phone
config MACH_BIGPHONE
	depends on ARCH_SC8800S
	default y
	bool "BigPhone Board"
	help
	  Support for the sc8800s based big phone

config SC8800S_IDLE
	depends on ARCH_SC8800S
	default y
	bool "Idle Support for SC8800S"

config CHIP_VER_8800H5
	depends on ARCH_SC8800S
	default y
	bool "chip version select"
endif
