/*
 * Copyright (C) 2013 Spreadtrum Communication Incorporated
 *		http://www.spreadtrum.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/* memory reserved for SMEM */
/memreserve/ 0x87800000 0x240000; /* 2MK+256K */

/* memory reserved for CPW modem */
/memreserve/ 0x88000000 0x1b00000; /* 27M */

/* memory reserved for fb */
/memreserve/ 0x9f300000 0x600000; /* 6MK */

/* memory reserved for ION */
/memreserve/ 0x9f900000 0x700000; /* 7MK */

/include/ "rt5033.dtsi"
/include/ "sprd-scx35.dtsi"

/ {
	model = "Spreadtrum SP7730G board";
	compatible = "sprd,scx35";

	chosen {
		bootargs = "init=/init root=/dev/ram0 rw";
		linux,initrd-start = <0x85500000>;
		linux,initrd-end   = <0x855a3212>;
	};

	aliases {
		i2c_gpio6 = &i2c_gpio6;
		i2c_gpio7 = &i2c_gpio7;
		i2c_gpio8 = &i2c_gpio8;
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	adi: adi_bus {
		sprd_backlight {
			compatible = "sprd,sprd_backlight";
			start = <2>;
			end = <2>;
			ctl_pin = <214>;
			ctl_pin_level = <1>;
			flags = <0x100>;
		};

		headset_detect {
			compatible = "sprd,headset-detect";
			gpio_switch = <0>;
			gpio_detect = <237>;
			gpio_button = <239>;
			irq_trigger_level_detect = <0>;
			irq_trigger_level_button = <0>;
			adc_threshold_3pole_detect = <1700>;
			adc_threshold_4pole_detect = <2700>;
			irq_threshold_buttont = <1>;
			voltage_headmicbias = <3000000>;
			nbuttons = <3>;
			headset_buttons_media {
				adc_min = <0>;
				adc_max = <190>;
				code = <226>;
				type = <0>;
			};

			headset_buttons_up {
				adc_min = <191>;
				adc_max = <347>;
				code = <115>;
				type = <0>;
			};

			headset_buttons_down {
				adc_min = <348>;
				adc_max =<760>;
				code = <114>;
				type = <0>;
			};
		};

		keyboard_backlight {
			compatible = "sprd,keyboard-backlight";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		home {
			label = "Home Key";
			linux,code = <102>;
			gpio = <&d_gpio_gpio 113 1>;
			debounce-interval = <2>;
			gpio-key,wakeup;
		};
	};

	rfkill {
		compatible = "broadcom,rfkill";
		gpios = <&d_gpio_gpio 231 0  /* power */
				&d_gpio_gpio 233 0>;  /* reset */
	};

	i2c@f536c000 { /* TSP */
		ist30xx_ts@50 {
			compatible = "Imagis,IST30XX";
			reg = <0x50>;
			gpios = <&d_gpio_gpio 82 0>; 
		};  
	};

	i2c@f536a000 {
		sensor_main@0x3c{
			compatible = "sprd,sensor_main";
			reg = <0x3c>;
		};
		sensor_sub@0x21{
			compatible = "sprd,sensor_sub";
			reg = <0x21>;
		};
	};

	sprd_sensor {
		compatible  = "sprd,sprd_sensor";
		gpios = <&d_gpio_gpio 186 0   /*reset*/
				&d_gpio_gpio 187 0    /*main*/
				&d_gpio_gpio 188 0>;  /*sub */
	};

	i2c_gpio7: i2c_gpio@2 {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&d_gpio_gpio 150 0 /* sda */
				&d_gpio_gpio 151 0 >; /* scl */
		i2c-gpio,delay-us = <10>;    /* ~100 kHz */
		i2c-gpio,timeout-ms = <0>;

		rt8973@14 {
			compatible = "richtek,rt8973";
			reg = <0x14>;
			interrupt-parent = <&d_gpio_gpio>;
			rt8973,irq-gpio = <&d_gpio_gpio 152 0>; 
		};
	};

	sprd_rf2351: sprd_rf2351@40070000{
		compatible  = "sprd,sprd_rf2351";
		reg = <0xf51f8000 0x1000>,		/*RFSPI*/
			<0xf5250000 0x10000>;		/*APB_EB0*/
		clock-names = "clk_cpll";
		clocks = <&clk_cpll>;
	};

	gps_2351: gps_2351@21c00000{
		compatible  = "sprd,gps_2351";
		interrupts = <0 52 0x0>;
		gpios = <&d_gpio_gpio 50 0>;
		reg = <0xf5150000 0x1000>,		/*GPS CORE BASE*/
			<0xf5130000 0x10000>,		/*AHB_ADDR*/
			<0xf5230000 0x10000>;		/*PMU BASE*/
	};
};
